#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#ceshi{color: red}

#page1{position:relative;}
a{text-decoration: none;}
.content{width:7.8rem;height:7.4rem;position:absolute;top:2.426667rem;left:1.2rem;z-index:20;}
@keyframes shakeBlack {
      2% {
        transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
      4% {
        transform: translate(1.5px, -0.5px) rotate(0.5deg); }
      6% {
        transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
      8% {
        transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
      10% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
      12% {
        transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
      14% {
        transform: translate(1.5px, 0.5px) rotate(1.5deg); }
      16% {
        transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
      18% {
        transform: translate(1.5px, 2.5px) rotate(1.5deg); }
      20% {
        transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
      22% {
        transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
      24% {
        transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
      26% {
        transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
      28% {
        transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
      30% {
        transform: translate(2.5px, 2.5px) rotate(1.5deg); }
      32% {
        transform: translate(0.5px, 0.5px) rotate(1.5deg); }
      34% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
      36% {
        transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
      38% {
      transform:translate(2.5px, -1.5px) rotate(1.5deg); }
      40% {
        transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
      42% {
        transform: translate(2.5px, 0.5px) rotate(1.5deg); }
      44% {
        transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
      46% {
        transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
      48% {
        transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
      50% {
        transform: translate(0.5px, 1.5px) rotate(0.5deg); }
      52% {
        transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
      54% {
        transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
      56% {
        transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
      58% {
        transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
      60% {
        transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
      62% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
      64% {
        transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
      66% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg); }
      68% {
        transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
      70% {
        transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
      72% {
        transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
      74% {
        transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
      76% {
        transform: translate(2.5px, 1.5px) rotate(0.5deg); }
      78% {
        transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
      80% {
        transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
      82% {
        transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
      84% {
        transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
      86% {
        transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
      88% {
        transform: translate(0.5px, -0.5px) rotate(1.5deg); }
      90% {
        transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
      92% {
        transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
      94% {
        transform: translate(1.5px, 0.5px) rotate(1.5deg); }
      96% {
        transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
      98% {
        transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
      0%, 100% {
        transform: translate(0, 0) rotate(0); } }
.shakeCir{
    animation-name: shakeBlack;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /*animation-delay:300ms;*/
}
@keyframes shakeBlue{
    10% {
      transform: translate(0, 0) rotate(0); }
   
    20% {
      transform: translate(0, 0.02rem) rotate(0); }
   
    30% {
      transform: translate(0, 0) rotate(0); }
   
    40% {
      transform: translate(0, 0.02rem) rotate(0); }
   
    50% {
      transform: translate(0, 0) rotate(0); }
    
    60% {
      transform: translate(0, 0.02rem) rotate(0); }
    
    70% {
      transform: translate(0, 0) rotate(0); }
   
    80% {
      transform: translate(0, 0.02rem) rotate(0); }
   
    90% {
      transform: translate(0, 0) rotate(0); }
   
      0%, 100% {
      transform: translate(0, 0) rotate(0); } 
}
.shake1{
    animation-name: shakeBlue;
    animation-duration: 1200ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay:900ms;
}
@keyframes shakeRed{
    10% {
      transform: translate(-0.02rem, 0) rotate(0); }
   
    20% {
      transform: translate(0, 0) rotate(0); }
   
    30% {
      transform: translate(-0.02rem, 0) rotate(0); }
   
    40% {
      transform: translate(0, 0) rotate(0); }
   
    50% {
      transform: translate(-0.02rem, 0) rotate(0); }
    
    60% {
      transform: translate(0, 0) rotate(0); }
    
    70% {
      transform: translate(-0.02rem, 0) rotate(0); }
   
    80% {
      transform: translate(0, 0) rotate(0); }
   
    90% {
      transform: translate(-0.02rem, 0) rotate(0); }
   
      0%, 100% {
      transform: translate(0, 0) rotate(0); } 
}
.shake2{
    animation-name: shakeRed;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay:1300ms;
}
.black{width:7.8rem;height:7.4rem;position: absolute;top:0;left:0;z-index:7;}
.blue{width:7.8rem;height:7.4rem;position: absolute;top:0.03rem;left:0;z-index:5;}
.red{width:7.786667rem;height:7.4rem;position: absolute;top:0;left:0;z-index:5;}
.he{width:4.0rem;height:3.2rem;position: absolute;top:3.073333rem;left:1.78rem;}
.whiteDay{width:2.8rem;height:1.28rem;position: absolute;top:6.5rem;left:2.5rem;}
.btn{width:3.2rem;height:1.013333rem;line-height:1.066667rem;border-radius:0.023333rem;text-align:center;color:white;background:#d50211;font-size:0.4rem;position: absolute;bottom:1.6rem;left:3.4rem;z-index:20;animation-name:fadeIn;animation-duration: 5s; /*-webkit-animation-iteration-count: 1; /*动画次数  */*/animation-delay: 2s; } 

/*三角元素动画*/
.delay1{animation-delay:0.2s;}
.delay2{animation-delay:0.4s;}
.delay3{animation-delay:0.6s;}
.delay4{animation-delay:0.8s;}
.delay5{animation-delay:1s;}
.delay{animation-duration:0.5s;animation-delay:0.2s;}

/*裂缝图片*/
.bomb img{position: absolute;z-index:30;opacity:0;}
.l1{width:0.546667rem;height:0.386667rem;left:4.43rem;top:1.9rem;}
.l2{width:0.533333rem;height:0.8rem;right:1.2rem;bottom:1.35rem;}
.l3{width:0.44rem;height:0.693333rem;left:0.78rem;bottom:0.85rem;}
.l4{width:0.56rem;height:0.466667rem;left:2.1rem;top:3.2rem;}

/*裂缝动画*/
.del1{animation-delay:0s;animation-duration:1.6s;}
.del2{animation-delay:0.2s;}
.del3{animation-delay:0.4s;}
.del4{animation-delay:0.6s;}

/*爆炸碎片*/
.bombImgs img{position: absolute;z-index:25;opacity:0;}
.b1{width:3.053333rem;height:3.706667rem;left:3.3rem;top:2.4rem;}
.b2{width:2.533333rem;height:2.24rem;bottom:7.9rem;right:1rem;}
.b3{width:2.573333rem;height:1.76rem;left:1.2rem;bottom:8rem;}
.b4{width:2.093333rem;height:3.813333rem;right:2.2rem;bottom:9.35rem;}
.b5{width:1.693333rem;height:3.2rem;left:2.15rem;bottom:8.8rem;}

/*爆炸碎片动画*/
.delay_time1{animation-timing-function: ease-in;}
.delay_time2{animation-timing-function: ease-in-out;}
.delay_time3{animation-timing-function: ease}
.delay_time4{animation-timing-function: ease-out;}
.delay_time5{animation-timing-function: ease-in-out;}

