#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#ceshi{color: red}

#page1{position:relative;}
a{text-decoration: none;}
.content{width:7.8rem;height:7.4rem;position:absolute;top:2.426667rem;left:1.2rem;z-index:20;}
@keyframes shakeBlack {
      2% {
        transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
      4% {
        transform: translate(1.5px, -0.5px) rotate(0.5deg); }
      6% {
        transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
      8% {
        transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
      10% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
      12% {
        transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
      14% {
        transform: translate(1.5px, 0.5px) rotate(1.5deg); }
      16% {
        transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
      18% {
        transform: translate(1.5px, 2.5px) rotate(1.5deg); }
      20% {
        transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
      22% {
        transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
      24% {
        transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
      26% {
        transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
      28% {
        transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
      30% {
        transform: translate(2.5px, 2.5px) rotate(1.5deg); }
      32% {
        transform: translate(0.5px, 0.5px) rotate(1.5deg); }
      34% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
      36% {
        transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
      38% {
      transform:translate(2.5px, -1.5px) rotate(1.5deg); }
      40% {
        transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
      42% {
        transform: translate(2.5px, 0.5px) rotate(1.5deg); }
      44% {
        transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
      46% {
        transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
      48% {
        transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
      50% {
        transform: translate(0.5px, 1.5px) rotate(0.5deg); }
      52% {
        transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
      54% {
        transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
      56% {
        transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
      58% {
        transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
      60% {
        transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
      62% {
        transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
      64% {
        transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
      66% {
        transform: translate(2.5px, -1.5px) rotate(1.5deg); }
      68% {
        transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
      70% {
        transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
      72% {
        transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
      74% {
        transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
      76% {
        transform: translate(2.5px, 1.5px) rotate(0.5deg); }
      78% {
        transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
      80% {
        transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
      82% {
        transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
      84% {
        transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
      86% {
        transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
      88% {
        transform: translate(0.5px, -0.5px) rotate(1.5deg); }
      90% {
        transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
      92% {
        transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
      94% {
        transform: translate(1.5px, 0.5px) rotate(1.5deg); }
      96% {
        transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
      98% {
        transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
      0%, 100% {
        transform: translate(0, 0) rotate(0); } }
.shakeCir{
    animation-name: shakeBlack;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay:500ms;
}
@keyframes shakeBlue{
    10% {
      transform: translate(0, 0) rotate(0); }
   
    20% {
      transform: translate(0, 0.03rem) rotate(0); }
   
    30% {
      transform: translate(0, 0) rotate(0); }
   
    40% {
      transform: translate(0, 0.03rem) rotate(0); }
   
    50% {
      transform: translate(0, 0) rotate(0); }
    
    60% {
      transform: translate(0, 0.03rem) rotate(0); }
    
    70% {
      transform: translate(0, 0) rotate(0); }
   
    80% {
      transform: translate(0, 0.03rem) rotate(0); }
   
    90% {
      transform: translate(0, 0) rotate(0); }
   
      0%, 100% {
      transform: translate(0, 0) rotate(0); } 
}
.shake1{
    animation-name: shakeBlue;
    animation-duration: 1200ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay:900ms;
}
@keyframes shakeRed{
     10% {
      transform: translate(-0.03rem, 0) rotate(0); }
   
    20% {
      transform: translate(0, 0) rotate(0); }
   
    30% {
      transform: translate(-0.03rem, 0) rotate(0); }
   
    40% {
      transform: translate(0, 0) rotate(0); }
   
    50% {
      transform: translate(-0.03rem, 0) rotate(0); }
    
    60% {
      transform: translate(0, 0) rotate(0); }
    
    70% {
      transform: translate(-0.03rem, 0) rotate(0); }
   
    80% {
      transform: translate(0, 0) rotate(0); }
   
    90% {
      transform: translate(-0.03rem, 0) rotate(0); }
   
      0%, 100% {
      transform: translate(0, 0) rotate(0); } 
}
.shake2{
    animation-name: shakeRed;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay:1300ms;
}
.center{width:7.8rem;height:7.4rem;position: absolute;top:0;left:0;z-index:7;}
.blue{width:7.8rem;height:7.4rem;position: absolute;top:0.03rem;left:0;z-index:5;}
.red{width:7.786667rem;height:7.4rem;position: absolute;top:0;left:0;z-index:5;}
.he{width:4.0rem;height:3.2rem;position: absolute;top:3.073333rem;left:1.78rem;}
.whiteDay{width:2.8rem;height:1.28rem;position: absolute;top:6.5rem;left:2.5rem;}
.moment{width:2.866667rem;height:0.786667rem;position: absolute;bottom:3.28rem;left:3.5rem;-webkit-animation-name:fadeIn;-webkit-animation-duration:5s;}
.pinkTri{width:1.64rem;height:1.64rem;position: absolute;right:1.36rem;top:8.8rem;}
.shadow{width:4.2rem;height:4.2rem;position: absolute;right:-1rem;top:4rem;z-index:1;}
.blue_l{width:2.773333rem;height:5.72rem;position: absolute;left:0.48rem;bottom:2.973333rem;z-index:1;}
.blue_jazz{width:3.28rem;height:3.28rem;position: absolute;right:0.52rem;top:5.3rem;z-index:5;}
.blue_s{width:0.773333rem;height:0.773333rem;position: absolute;top:5.8rem;right:0;z-index:7;}
.btn{
	width:3.2rem;
	height:1.013333rem;
	line-height:1.066667rem;
  border-radius:0.023333rem;
	text-align:center;
	color:white;
	background:#d50211;
	font-size:0.4rem;
	position: absolute; 
	bottom:1.6rem;
	left:3.4rem;
  z-index:20;  
    /*调用动画效果*/  
  -webkit-animation-name: fadeIn; /*动画名称*/  
  -webkit-animation-duration: 5s; /*动画持续时间*/  
    /*-webkit-animation-iteration-count: 1; /*动画次数  */*/
  -webkit-animation-delay: 2s; /*延迟时间*/  
}
@-webkit-keyframes fadeIn {  
    0% {  
    	opacity: 0; /*初始状态 透明度为0*/  
    }  
    20%{  
        opacity: .2;  
    }  
    50% {  
        opacity: .5; /*中间状态 透明度为0.5*/  
    }  
    70%{  
        opacity: .7;  
    }  
    100% {  
        opacity: 1; /*结尾状态 透明度为1*/  
    }  
}  