body{color: yellow}
a{text-decoration: none;}
.heart{width:8.453333rem;height:7.32rem;position:absolute;left:0.773333rem;top:3.146667rem;z-index:10;text-align:center;}
.heart .enter{width:100%;height:100%;}
.heart canvas{width:6.146667rem;height:5.306667rem;position: absolute;top:1.15rem;left:1.15rem;background: url( "/static/images/images1/write.png")no-repeat;background-size: cover}
.heart #draw{font-size:0.4rem;color:#416f99;position: absolute;top:3.2rem;left:2rem;}
.bottom{width:0.346667rem;height:0.48rem;position: absolute;bottom:0.413333rem;right:4.493333rem;}
#btn{width:3.2rem;height:1.013333rem;line-height:1.066667rem;border-radius:0.023333rem;text-align:center;color:white;background:#d50211;font-size:0.4rem;position: absolute; bottom:1.6rem;left:3.4rem;z-index:20;  animation-name: fadeIn; animation-duration: 5s;/*-webkit-animation-iteration-count: 1; /*动画次数  */*/animation-delay: 2s;  } 
@keyframes action{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	10%{
		opacity: 0.1;
		transform: scale(0.2);
	}
	20%{
		opacity: 0.2;
		transform: scale(0.4);
	}
	30%{
		opacity: 0.3;
		transform: scale(0.6);
	}
	40%{
		opacity:0.4;
		transform: scale(0.8);
	}
	50%{
		opacity: 0.5;
		transform: scale(1);
	}
	60%{
		opacity:0.6;
		transform: scale(1.4);
	}
	70%{
		opacity: 0.7;
		transform: scale(1.7);
	}
	80%{
		opacity: 0.8;
		transform: scale(1.5);
	}
	90%{
		opacity: 0.9;
		transform: scale(1.2);
	}
	100%{
		opacity:1;
		transform: scale(1);
	}

}
.active{
	animation-name:action;
	animation-duration:1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

/*元素动画*/
.delay2{animation-duration:1.5s;animation-delay:0.2s;}
