#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#ceshi{color: red}

#page1{position:relative;width:100%;height:100%;}
.center{width:7.8rem;height:7.4rem;position: absolute;top:3.653333rem;left:1.2rem;}
.he{width:4.0rem;height:3.2rem;position: absolute;top:6.8rem;left:3.1rem;}
.whiteDay{width:2.8rem;height:1.28rem;position: absolute;top:10.2rem;left:3.7rem;}
.moment{width:2.866667rem;height:0.786667rem;position: absolute;bottom:3.466667rem;left:3.5rem;-webkit-animation-name:fadeIn;-webkit-animation-duration:5s;}
.btn{
	width:4.0rem;
	height:1.066667rem;
	line-height:1.066667rem;
  border-radius:0.053333rem;
	text-align:center;
	color:white;
	background:#d50211;
	font-size:0.4rem;
	position: absolute; 
	bottom:2.0rem;
	left:3rem;
  z-index:20;  
    /*调用动画效果*/  
  -webkit-animation-name: fadeIn; /*动画名称*/  
  -webkit-animation-duration: 5s; /*动画持续时间*/  
    /*-webkit-animation-iteration-count: 1; /*动画次数  */*/
  -webkit-animation-delay: 2s; /*延迟时间*/  
}

@-webkit-keyframes fadeIn {  
    0% {  
    	opacity: 0; /*初始状态 透明度为0*/  
    }  
    20%{  
        opacity: .2;  
    }  
    50% {  
        opacity: .5; /*中间状态 透明度为0.5*/  
    }  
    70%{  
        opacity: .7;  
    }  
    100% {  
        opacity: 1; /*结尾状态 透明度为1*/  
    }  
}  
